<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container mt-4">
        <form method="post" action="/category/add">
            <div class="mb-3">
              <label for="name" class="form-label">Nama Kategori</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="imageUrl" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="imageUrl">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <%- include('_script') %>
    
</body>
</html>