<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <form method="post" action="/userProfile/<%= userId %>">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="name"
            class="form-control"
            id="name"
            name="name"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date Of Birth</label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            name="dateOfBirth"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" name="address" />
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="number"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
          />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="male"
              value="M"
            />
            <label class="form-check-label" for="male">M</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="female"
              value="F"
            />
            <label class="form-check-label" for="female">F</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <%- include('_script') %>
    </div>
  </body>
</html>
