<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body,
      html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
      }
      .login-box {
        display: flex;
        width: 600px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        overflow: hidden;
      }
      .left {
        background-color: #2d8b8b;
        color: #ffffff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
      }
      .left img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }
      .left p {
        margin: 0;
      }
      .right {
        padding: 40px;
        width: 60%;
      }
      .right h4 {
        margin-bottom: 30px;
      }
      .form-control {
        margin-bottom: 15px;
      }
      .form-check-label {
        margin-bottom: 15px;
      }
      .btn-primary {
        width: 100%;
        background-color: #2d8b8b;
        border: none;
      }
      .btn-primary:hover {
        background-color: #246f6f;
      }
      .register {
        margin-top: 10px;
        text-align: center;
      }
      .register a {
        color: #2d8b8b;
      }
    </style>
  </head>
  <body>
    <div class="login-box">
      <div class="left">
        <img
          src="https://www.pngkey.com/png/detail/117-1170085_cart-logo-toko-online-png.png"
          alt="Company Logo"
        />
        <p>Xiaopee</p>
      </div>
      <div class="right">
        <h4 class="text-center">Log In</h4>
        <% if (error) { %>
         <p style="color: red;" class="m-3">
          <%= error %>
         </p>
        <% } %>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              name="password"
            />
          </div>
          <div class="form-check">
            <input
              style="cursor: pointer"
              type="checkbox"
              class="form-check-input"
              id="rememberMe"
            />
            <label
              style="cursor: pointer"
              class="form-check-label"
              for="rememberMe"
              >Remember Me!</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="register">
            Don't have an account? <a href="/signup">Register Here</a>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
